*{
    padding: 0px;
    margin: 0px;
}
.company_name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.news{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkto{
  height: 18vh;
  width: 100%;
}

.newsbox{
  width: 75%;
  display: flex;
  margin-top: 20px;
  height: 18vh;
  border: 1px #4c4c4c solid;
  border-radius: 3px;
}
.linkbutton{
  width: 100%;
  display: flex;
}

.news_cate{
  margin: 5px;
  margin-right: 2%;
  height: 16vh;
}

.title{
  margin-right: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
