*{
    padding: 0px;
    margin: 0px;
}

main{
  margin-top: 90px;
  margin-bottom: 40px;
}

.company_name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.news{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news a{
  color: #000;
  text-decoration: none;
  width: 100%;
}

.news a:hover{
  color: #555;
  background-color: #ddd;
}
.linkto{
  height: 18vh;
}

.newsbox{
  width: 95%;
  display: flex;
  margin:0 auto;
  margin-top: 20px;
  height: 18vh;
  border: 1px #4c4c4c solid;
  border-radius: 3px;
}
.linkbutton{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.newsleft{
    width: 25%;
}
.newsright{
    width: 75%;
}
.news_cate{
  margin: 5px;
  margin-right: 2%;
  height: 10vh;
}
.news_time{
    font-size:5px;
    margin-left:5px;
    
}
.news_company{
  margin-left: 5px;
}

.title{
  margin-right: 2%;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cent{
  text-align: center;
}

.news:after{
    content:'';
    display:block;
    margin:0 auto;
}

.news:before{
    content:'';
    display:block;
    margin:0 auto;
    order:1;

}
@media screen and (min-width: 500px){
    .newsbox{
        width: 90%;
    }
}

@media screen and (min-width:768px) and (max-width: 1040px){
    .newsbox{
        width: 47%;
    }
    .news:after{
        width: 47%;
    }
}

@media screen and (min-width:1040px) {
    .newsbox{
        width: 31%;
    }
    .news:after{
        width: 31%;
    }
    .news:before{
        width: 31%;
    }
}
