<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/news.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/hamburger.css">
    <link rel="stylesheet" href="./css/cate.css">
</head>
<body>
    <div class="news">
        <div class='companybox'>
            <a href='{$line['news_url']}' class='linkto'>
            <div class='linkbutton'>
                    <div class='news_company'>パナソニック</div>
                    <div class='under'>
                        <div class='cate_imgs'>
                            <img class='cate' src='../img/sdg_icon_1_ja_2-290x290.png'>
                            <img class='cate' src='../img/sdg_icon_1_ja_2-290x290.png'>
                            <img class='cate' src='../img/sdg_icon_1_ja_2-290x290.png'>
                        </div>
                        <div class='news_num'>ニュース数<span class='number'> 24</span> 件</div>
                    </div>
                </div></a></div>
    </div>
</body>
</html>
